
@grey: #DEE2E6;
@grey2: #F8F9FA;

.navbar-light {
    padding: 0;
    .navbar-nav {
        .active {
            background: @grey;
        }
    }
}

.top-alert {
    margin-top: -48px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
}

.breadcrumb-nav {
    margin-top: -48px;
    margin-bottom: 30px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    .breadcrumb {
        background: transparent;
        border-bottom: 2px @grey2 solid;
    }
}

.form {
    background: @grey2;
    padding: 15px;
    .fa-rectangle-xmark {
        cursor: pointer;
    }

    .timesheet-form {
        > div {
            display: inline-block;
            &.name {
                min-width: 300px;
            }
            &.project {
                min-width: 200px;
                select {
                    width: 80%;
                    display: inline-block;
                }
                button {
                    width: 20%;
                    display: inline-block;
                    margin-left: -7px;
                    vertical-align: top;
                    border-radius: 0 4px 4px 0;
                }
            }
            &.billable {
                width: 40px;
                text-align: center;
                i {
                    cursor: pointer;
                    &.non-billable {
                        text-decoration: line-through;
                    }
                }
            }
            &.time {
                input {
                    display: inline-block;
                    max-width: 70px;
                }
            }
            &.calendar {
                width: 90px;
                text-align: center;
                i, span {
                    cursor: pointer;
                }
            }
            &.submit-button {
                float: right;
            }
        }
    }
}

h1 {
    font-size: 1.7rem;
}

.alert {
    ul {
        margin-bottom: 0;
    }
}

